@import "tailwindcss";

@theme {
  --color-primary: #6565ec;
  --color-gray-a3: #00003b0d;
  --color-gray-a5: #0000301b;
  --color-gray-a8: #00082f46;
  --color-gray-a9: #00041d74;
  --color-gray-a11: #0007139f;
  --color-gray-2: #f9f9fb;
  --color-gray-6: #dddde3;
  --color-gray-7: #d3d4db;
  --color-gray-12: #2b333b;
  --color-red-surface: #fff6f6cc;
  --color-red-a7: #c9002850;
  --color-red-a11: #c10030db;
}
